:root {
  --light-color-bg: #f8faff;
  --light-color-text: #353a4a;
  --light-color-heading: #353a4a;
  --light-color-link: #5e83ba;
  --light-color-date: rgba(38, 69, 100, 0.5);
  --light-color-line-rgb: 0, 59, 137;
  --light-color-line: rgba(var(--light-color-line-rgb), 0.1);
  --light-color-bullet: rgba(0, 59, 137, 0.25);
  --light-color-arrow: rgba(0, 59, 137, 0.25);
  --light-image-filter: none;
  --light-receded-opacity: 0.7;
  --light-gradient-opacity: 0;
  --light-gradient-bg: radial-gradient(
    circle farthest-corner at top center,
    var(--light-color-bg) 0,
    #cad5f8 100%
  );

  --dark-color-bg: #171a1f;
  --dark-color-text: #d0d4e1;
  --dark-color-heading: #ffffff;
  --dark-color-link: #5ea7ff;
  --dark-color-date: #5e6d79;
  --dark-color-line-rgb: 51, 102, 153;
  --dark-color-line: rgba(var(--dark-color-line-rgb), 0.25);
  --dark-color-bullet: #3f4c59;
  --dark-color-arrow: #3f4c59;
  --dark-image-filter: grayscale(20%);
  --dark-receded-opacity: 0.5;
  --dark-gradient-opacity: 0;
  --dark-gradient-bg: radial-gradient(
    circle farthest-corner at bottom center,
    var(--dark-color-bg) 0,
    #080b10 100%
  );

  --color-bg: var(--light-color-bg);
  --color-text: var(--light-color-text);
  --color-heading: var(--light-color-heading);
  --color-link: var(--light-color-link);
  --color-date: var(--light-color-date);
  --color-line-rgb: var(--light-color-line-rgb);
  --color-line: var(--light-color-line);
  --color-bullet: var(--light-color-bullet);
  --color-arrow: var(--light-color-arrow);
  --image-filter: var(--light-image-filter);
  --receded-opacity: var(--light-receded-opacity);
  --light-gradient-opacity: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--dark-color-bg);
    --color-text: var(--dark-color-text);
    --color-heading: var(--dark-color-heading);
    --color-link: var(--dark-color-link);
    --color-date: var(--dark-color-date);
    --color-line-rgb: var(--dark-color-line-rgb);
    --color-line: var(--dark-color-line);
    --color-bullet: var(--dark-color-bullet);
    --color-arrow: var(--dark-color-arrow);
    --image-filter: var(--dark-image-filter);
    --receded-opacity: var(--dark-receded-opacity);
    --light-gradient-opacity: 0;
    --dark-gradient-opacity: 1;
  }
}

.light {
  --color-bg: var(--light-color-bg);
  --color-text: var(--light-color-text);
  --color-heading: var(--light-color-heading);
  --color-link: var(--light-color-link);
  --color-date: var(--light-color-date);
  --color-line-rgb: var(--light-color-line-rgb);
  --color-line: var(--light-color-line);
  --color-bullet: var(--light-color-bullet);
  --color-arrow: var(--light-color-arrow);
  --image-filter: var(--light-image-filter);
  --receded-opacity: var(--light-receded-opacity);
  --light-gradient-opacity: 1;
  --dark-gradient-opacity: 0;
}

.dark {
  --color-bg: var(--dark-color-bg);
  --color-text: var(--dark-color-text);
  --color-heading: var(--dark-color-heading);
  --color-link: var(--dark-color-link);
  --color-date: var(--dark-color-date);
  --color-line-rgb: var(--dark-color-line-rgb);
  --color-line: var(--dark-color-line);
  --color-bullet: var(--dark-color-bullet);
  --color-arrow: var(--dark-color-arrow);
  --image-filter: var(--dark-image-filter);
  --receded-opacity: var(--dark-receded-opacity);
  --light-gradient-opacity: 0;
  --dark-gradient-opacity: 1;
}

@media print {
  :root {
    --color-bg: white;
    --color-text: black;
    --color-heading: black;
    --color-link: black;
    --color-date: black;
    --color-line-rgb: 0, 0, 0;
    --color-line: black;
    --color-bullet: black;
    --color-arrow: black;
    --image-filter: none;
    --receded-opacity: 0;
    --light-gradient-opacity: 0;
    --dark-gradient-opacity: 0;
  }
}

html {
  color: var(--color-text);
  background-color: var(--color-bg);
}

body::before,
body::after {
  opacity: 0;
}

body::before {
  opacity: var(--light-gradient-opacity);
  background-image: var(--light-gradient-bg);
}

body::after {
  opacity: var(--dark-gradient-opacity);
  background-image: var(--dark-gradient-bg);
}

h1,
h2 {
  color: var(--color-heading);
}

p,
ul,
li {
  color: var(--color-text);
}

li::before {
  color: var(--color-bullet);
}

.date {
  color: var(--color-date);
}

a {
  color: var(--color-link);
}

button {
  color: var(--color-link);
}

a::after,
button::after {
  color: var(--color-arrow);
}

img {
  filter: var(--image-filter);
  transition: filter var(--color-transition), var(--dom-x-ray-transition);
}
