*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 1px solid rgba(255, 105, 180, 0) !important;
  transition: var(--dom-x-ray-transition);
}

html {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 18em;
  min-height: 100%;
  padding: 2em 1em 4em;
  margin: 0 auto;
  overflow-y: scroll;
}

@media (max-width: 480px) {
  body {
    padding: 4em 1em;
  }
}

body::before,
body::after {
  content: '';
  pointer-events: none;
  z-index: -1;
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  transition: opacity var(--color-transition), var(--dom-x-ray-transition);
}
