:root {
  --grid-margin: 1.5rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 1px solid rgba(255, 105, 180, 0);
}

body {
  width: 100%;
  max-width: 52rem;
  min-height: 100%;
  padding: 4rem 2rem;
  margin: 0 auto;
}

@media print {
  @page {
    margin: 0.5in;
    size: letter portrait;
  }

  body {
    padding: 1rem 0 0;
  }
}

body::before,
body::after {
  content: '';
  pointer-events: none;
  z-index: -1;
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
