*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 1px solid rgba(255, 105, 180, 0) !important;
  transition: var(--dom-x-ray-transition);
}

:root {
  --light-color-bg: #f8faff;
  --light-color-text: #223344;
  --light-color-h1: #223344;
  --light-color-link: #3388cc;
  --light-color-date: rgba(34, 51, 68, 0.75);
  --light-color-line: rgba(0, 59, 137, 0.25);
  --light-color-bullet: rgba(0, 59, 137, 0.35);
  --light-color-arrow: rgba(0, 59, 137, 0.35);
  --light-image-filter: none;
  --light-gradient-opacity: 0;
  --light-gradient-bg: radial-gradient(
    circle farthest-corner at top center,
    var(--light-color-bg) 50%,
    #b0c0f0 100%
  );

  --dark-color-bg: #171a1f;
  --dark-color-text: #d0d4e1;
  --dark-color-h1: #ffffff;
  --dark-color-link: #5ea7ff;
  --dark-color-date: #5e6d79;
  --dark-color-line: rgba(51, 102, 153, 0.25);
  --dark-color-bullet: #3f4c59;
  --dark-color-arrow: #3f4c59;
  --dark-image-filter: grayscale(20%);
  --dark-gradient-opacity: 0;
  --dark-gradient-bg: radial-gradient(
    circle farthest-corner at top center,
    var(--dark-color-bg) 50%,
    #080b10 100%
  );

  --color-bg: var(--light-color-bg);
  --color-text: var(--light-color-text);
  --color-h1: var(--light-color-h1);
  --color-link: var(--light-color-link);
  --color-date: var(--light-color-date);
  --color-line: var(--light-color-line);
  --color-bullet: var(--light-color-bullet);
  --color-arrow: var(--light-color-arrow);
  --image-filter: var(--light-image-filter);
  --light-gradient-opacity: 1;

  --easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
  --easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
  --color-transition: 1s var(--easing-standard);

  --dom-x-ray-transition: color var(--color-transition), border-color var(--color-transition),
    background-color var(--color-transition), outline-color var(--color-transition);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--dark-color-bg);
    --color-text: var(--dark-color-text);
    --color-h1: var(--dark-color-h1);
    --color-link: var(--dark-color-link);
    --color-date: var(--dark-color-date);
    --color-line: var(--dark-color-line);
    --color-bullet: var(--dark-color-bullet);
    --color-arrow: var(--dark-color-arrow);
    --image-filter: var(--dark-image-filter);
    --light-gradient-opacity: 0;
    --dark-gradient-opacity: 1;
  }
}

@media print {
  :root {
    --color-bg: white;
    --color-text: black;
    --color-h1: black;
    --color-link: black;
    --color-date: black;
    --color-line: black;
    --color-bullet: black;
    --color-arrow: black;
    --image-filter: none;
    --light-gradient-opacity: 0;
    --dark-gradient-opacity: 0;
  }
}

.light {
  --color-bg: var(--light-color-bg);
  --color-text: var(--light-color-text);
  --color-h1: var(--light-color-h1);
  --color-link: var(--light-color-link);
  --color-date: var(--light-color-date);
  --color-line: var(--light-color-line);
  --color-bullet: var(--light-color-bullet);
  --color-arrow: var(--light-color-arrow);
  --image-filter: var(--light-image-filter);
  --light-gradient-opacity: 1;
  --dark-gradient-opacity: 0;
}

.dark {
  --color-bg: var(--dark-color-bg);
  --color-text: var(--dark-color-text);
  --color-h1: var(--dark-color-h1);
  --color-link: var(--dark-color-link);
  --color-date: var(--dark-color-date);
  --color-line: var(--dark-color-line);
  --color-bullet: var(--dark-color-bullet);
  --color-arrow: var(--dark-color-arrow);
  --image-filter: var(--dark-image-filter);
  --light-gradient-opacity: 0;
  --dark-gradient-opacity: 1;
}

html {
  width: 100%;
  height: 100%;
  color: var(--color-text);
  background-color: var(--color-bg);
}

body {
  display: flex;
  flex-direction: column;
  max-width: 18em;
  min-height: 100%;
  padding: 2em 1em 4em;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  font-size: 24px;
  line-height: 1.5em;
  font-weight: 300;
}

body::before,
body::after {
  content: '';
  pointer-events: none;
  z-index: -1;
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity var(--color-transition), var(--dom-x-ray-transition);
}

body::before {
  opacity: var(--light-gradient-opacity);
  background-image: var(--light-gradient-bg);
}

body::after {
  opacity: var(--dark-gradient-opacity);
  background-image: var(--dark-gradient-bg);
}

h1 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin: 0;
  color: var(--color-h1);
}

h2 {
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 1em 0 0 0;
}

h2 a {
  font-weight: 600;
  color: var(--color-h1);
}

p,
ul {
  color: var(--color-text);
}

* + p,
* + ul {
  margin: 1em 0 0 0;
}

h2 + p {
  margin-top: 0;
}

ul {
  display: block;
  padding: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
}

li::before {
  content: '\2022';
  display: inline-block;
  width: 1em;
  color: var(--color-bullet);
}

a {
  color: var(--color-link);
  font: inherit;
  font-weight: 500;
  text-decoration: none;
  outline: none;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: var(--color-link);
  background: none;
  font: inherit;
  font-weight: 500;
  border: none;
  outline: none;
}

a::after,
button::after {
  content: '\2192';
  pointer-events: none;
  display: inline;
  position: absolute;
  font-weight: 300;
  color: var(--color-arrow);
  opacity: 0;
  transform: translateX(-0.2em);
  transition: opacity 0.1s var(--easing-accelerate), transform 0.1s var(--easing-accelerate),
    var(--dom-x-ray-transition);
}

a:focus-visible::after,
button:focus-visible::after {
  opacity: 1;
  transform: translateX(0.1em);
  transition: opacity 0.1s var(--easing-decelerate), transform 0.1s var(--easing-decelerate),
    var(--dom-x-ray-transition);
}

@media (hover: hover) {
  a:hover::after,
  button:hover::after {
    opacity: 1;
    transform: translateX(0.1em);
    transition: opacity 0.1s var(--easing-decelerate), transform 0.1s var(--easing-decelerate),
      var(--dom-x-ray-transition);
  }
}

img {
  filter: var(--image-filter);
  transition: filter var(--color-transition), var(--dom-x-ray-transition);
}

.date {
  margin-top: 0;
  font-size: 0.65em;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-date);
}

.dom-x-ray,
.dom-x-ray:before,
.dom-x-ray:after,
.dom-x-ray *,
.dom-x-ray *:before,
.dom-x-ray *:after {
  color: rgba(255, 105, 180, 1) !important;
  border-color: rgba(255, 105, 180, 1) !important;
  background-color: rgba(112, 187, 255, 0.03) !important;
  outline-color: rgba(255, 105, 180, 0.25) !important;
}

html:not(.loaded),
html:not(.loaded):before,
html:not(.loaded):after,
html:not(.loaded) *,
html:not(.loaded) *:before,
html:not(.loaded) *:after {
  transition: none !important;
}
